In [82]:
import pandas as pd
import math

In [83]:
# WIN
#users_sleepy = pd.read_csv(r'C:\Users\Incognitus\Downloads\entries.csv', sep=';') 
# MAC
users_sleepy = pd.read_csv(r'/Users/vladislavlipkin/Downloads/entries.csv', sep=';')

In [84]:
users_sleepy.head(5)

   user          dt  Unnamed: 2
0     0  12.11.2023         NaN
1     0  13.11.2023         NaN
2     0  14.11.2023         NaN
3     0  16.11.2023         NaN
4     0  17.11.2023         NaN

In [85]:
users_filter = users_sleepy.loc[:, ['user', 'dt']]

In [86]:
users_filter['dt'] = pd.to_datetime(users_filter['dt'], format='%d.%m.%Y')

In [87]:
users_filter.head(5)

   user         dt
0     0 2023-11-12
1     0 2023-11-13
2     0 2023-11-14
3     0 2023-11-16
4     0 2023-11-17

In [88]:
users_filter.head(10)

   user         dt
0     0 2023-11-12
1     0 2023-11-13
2     0 2023-11-14
3     0 2023-11-16
4     0 2023-11-17
5     0 2023-11-18
6     0 2023-11-19
7     0 2023-11-21
8     0 2023-11-22
9     0 2023-11-23

In [89]:
users_filter['dt_reg'] = users_filter.groupby('user')['dt'].transform('min')
users_filter['diff'] = (users_filter['dt'] - users_filter['dt_reg']).dt.days
users_filter.head(10)

   user         dt     dt_reg  diff
0     0 2023-11-12 2023-11-12     0
1     0 2023-11-13 2023-11-12     1
2     0 2023-11-14 2023-11-12     2
3     0 2023-11-16 2023-11-12     4
4     0 2023-11-17 2023-11-12     5
5     0 2023-11-18 2023-11-12     6
6     0 2023-11-19 2023-11-12     7
7     0 2023-11-21 2023-11-12     9
8     0 2023-11-22 2023-11-12    10
9     0 2023-11-23 2023-11-12    11

In [90]:
all_users = users_filter['user'].nunique()
all_users

2000

In [94]:
retention = users_filter.groupby('diff')['user'].nunique()

diff
0      2000
1      1039
2      1052
3      1055
4      1024
       ...
360       6
361       5
362       3
363       9
364       2
Name: user, Length: 364, dtype: int64

In [ ]:

retention_day_x = day_x / all_users * 100
retention_day_14 = day_14 / all_users * 100

print(math.ceil(abs(retention_day_14 - retention_day_x)))

In [57]:
# count_day_use_app = users_filter.groupby('user')['dt'].count().reset_index()
# count_day_use_app.columns = ['user', 'count_day_use']
# count_day_use_app.head(5)

   user  count_day_use
0     0             39
1     1             42
2     2             27
3     3             20
4     4             41

In [50]:
all_users = count_day_use_app['count_day_use'].count()
day_x = count_day_use_app.query('count_day_use > 14').count()
day_14 = count_day_use_app.query('count_day_use == 14').count()

retention_day_x = day_x / all_users * 100
retention_day_14 = day_14 / all_users * 100

print(math.ceil(abs(retention_day_14 - retention_day_x)))
print()
print(count_day_use_app['count_day_use'].count())
print(count_day_use_app.query('count_day_use < 15').count())
print(count_day_use_app.query('count_day_use > 14').count())

TypeError: cannot convert the series to <class 'float'>

In [58]:
all_users = count_day_use_app['count_day_use'].count()
day_x = count_day_use_app.query('count_day_use > 14').shape[0]
day_14 = count_day_use_app.query('count_day_use >= 14').shape[0]

retention_day_x = day_x / all_users * 100
retention_day_14 = day_14 / all_users * 100

print(math.ceil(abs(retention_day_14 - retention_day_x)))

2

In [62]:
import pandas as pd
import math

# Чтение данных
users_sleepy = pd.read_csv(r'C:\Users\Incognitus\Downloads\entries.csv', sep=';')
users_filter = users_sleepy.loc[:, ['user', 'dt']]

# Преобразуем dt в datetime
users_filter['dt'] = pd.to_datetime(users_filter['dt'], dayfirst=True)

# Находим первый день захода пользователя
first_day = users_filter.groupby('user')['dt'].min().reset_index()
first_day.columns = ['user', 'first_day']

# Объединяем с исходными заходами
df = users_filter.merge(first_day, on='user')

# Считаем день с момента первого захода
df['day_since_first'] = (df['dt'] - df['first_day']).dt.days + 1

# Количество уникальных пользователей
all_users = df['user'].nunique()

# Retention на 14-й день
day_14_retention = df[df['day_since_first'] == 14]['user'].nunique()

# Retention после 14-го дня (только платящие пользователи)
day_after_retention = df[df['day_since_first'] > 14]['user'].nunique()

# Переводим в проценты
retention_14 = day_14_retention / all_users * 100
retention_after = day_after_retention / all_users * 100

# Падение retention, округляем вверх
drop = math.ceil(retention_14 - retention_after)

print(drop)
# должно быть 18

-56