## –¢–µ–ø–µ—Ä—å –æ –º–æ–Ω–µ—Ç–∏–∑–∞—Ü–∏–∏ - Sleepy —Ä–∞–±–æ—Ç–∞–µ—Ç –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ: 990 —Ä—É–±–ª–µ–π –≤ –º–µ—Å—è—Ü. –ü–µ—Ä–≤—ã–µ –¥–≤–µ –Ω–µ–¥–µ–ª–∏ –±–µ—Å–ø–ª–∞—Ç–Ω–æ, –∑–∞—Ç–µ–º –∫–ª–∏–µ–Ω—Ç –≤–∏–¥–∏—Ç –ø–µ–π–≤–æ–ª (–æ—Ç ¬´pay wall¬ª - –∫–∞–∫ –±—ã —Å—Ç–µ–Ω–∞, –∫–æ—Ç–æ—Ä–∞—è —Ç–µ–±—è –Ω–µ –ø—É—Å–∫–∞–µ—Ç –¥–∞–ª—å—à–µ, –ø–æ–∫–∞ —Ç—ã –Ω–µ –æ–ø–ª–∞—Ç–∏—à—å) –∏, –µ—Å–ª–∏ –ø—Ä–∏–≤—è–∑—ã–≤–∞–µ—Ç –∫–∞—Ä—Ç—É, –ø—Ä–æ–¥–æ–ª–∂–∞–µ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è –ø–æ–¥–ø–∏—Å–∫–æ–π, –∞ –¥–µ–Ω—å–≥–∏ —Å–ø–∏—Å—ã–≤–∞—é—Ç—Å—è –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏.

## –ï—Å–ª–∏ –≥–æ–≤–æ—Ä–∏—Ç—å –æ –ø—Ä–∏–≤–ª–µ—á–µ–Ω–∏–∏, —Ç–æ —ç—Ç–æ –º–æ–ª–æ–¥–æ–π –≤–µ–Ω—á—É—Ä–Ω—ã–π —Å—Ç–∞—Ä—Ç–∞–ø, –ø–æ—ç—Ç–æ–º—É –ø—Ä–∏–≤–ª–µ—á–µ–Ω–∏–µ –æ–¥–Ω–æ–≥–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è (–¥–∞–∂–µ –µ—Å–ª–∏ –æ–Ω –Ω–µ –∑–∞–ø–ª–∞—Ç–∏—Ç) –¥–æ–≤–æ–ª—å–Ω–æ –¥–æ—Ä–æ–≥–æ–µ - 500 —Ä—É–±–ª–µ–π.

## –î–∞–Ω–Ω—ã—Ö —É –≤–∞—Å –Ω–µ–º–Ω–æ–≥–æ - –≤–∞–º –¥–∞–Ω –¥–∞—Ç–∞—Å–µ—Ç –≤—Å–µ–≥–æ –∏–∑ –¥–≤—É—Ö –ø–æ–ª–µ–π:


## user - –Ω–æ–º–µ—Ä –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è –≤ —Å–∏—Å—Ç–µ–º–µ

## dt - –¥–∞—Ç–∞ –µ–≥–æ –∑–∞—Ö–æ–¥–∞ –≤ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏–µ

## –î–∞–Ω–Ω—ã–µ —É—Å—Ç—Ä–æ–µ–Ω—ã —Ç–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º, —á—Ç–æ —Ñ–∏–∫—Å–∏—Ä—É–µ—Ç—Å—è —Ç–æ–ª—å–∫–æ –æ–¥–∏–Ω –∑–∞—Ö–æ–¥ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è –∑–∞ –¥–µ–Ω—å - –æ–¥–∏–Ω–∞–∫–æ–≤—ã—Ö –ø–∞—Ä "–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å - –¥–∞—Ç–∞" –±—ã—Ç—å –Ω–µ –º–æ–∂–µ—Ç. 
## –ö—Ä–æ–º–µ —Ç–æ–≥–æ, —Ñ–∏–∫—Å–∏—Ä—É—é—Ç—Å—è —Ç–æ–ª—å–∫–æ –∑–∞—Ö–æ–¥—ã –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –Ω–∞ —Ç—Ä–∏–∞–ª—å–Ω–æ–π –≤–µ—Ä—Å–∏–∏ –∏ —Ç–µ—Ö, –∫—Ç–æ –ø—Ä–æ—à–µ–ª –ø–µ–π–≤–æ–ª. 
## –ï—Å–ª–∏ —á–µ–ª–æ–≤–µ–∫ –æ—Ç–∫—Ä—ã–ª –ø—Ä–∏–ª–æ–∂–µ–Ω–∏–µ –ø–æ—Å–ª–µ 14 –¥–Ω—è –∏ –Ω–µ –ø—Ä–∏–≤—è–∑–∞–ª –∫–∞—Ä—Ç—É - —Ç–∞–∫–æ–π –∑–∞—Ö–æ–¥ –Ω–µ —Ñ–∏–∫—Å–∏—Ä—É–µ—Ç—Å—è.

In [1]:
import pandas as pd
import math

In [2]:
# n day retention


# WIN
users_sleepy = pd.read_csv(r'C:\Users\Incognitus\Downloads\entries.csv', sep=';') 
# MAC
#users_sleepy = pd.read_csv(r'/Users/vladislavlipkin/Downloads/entries.csv', sep=';')

In [3]:
users_sleepy.head(5)

   user          dt  Unnamed: 2
0     0  12.11.2023         NaN
1     0  13.11.2023         NaN
2     0  14.11.2023         NaN
3     0  16.11.2023         NaN
4     0  17.11.2023         NaN

In [14]:
# --- –ø–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö ---
users_filter = users_sleepy.loc[:, ['user', 'dt']]
users_filter['dt'] = pd.to_datetime(users_filter['dt'], format='%d.%m.%Y')
users_filter['dt_reg'] = users_filter.groupby('user')['dt'].transform('min')
users_filter['diff'] = (users_filter['dt'] - users_filter['dt_reg']).dt.days
users_filter['week'] = round(users_filter['diff'] / 7, 0)
users_filter['month'] = round(users_filter['diff'] / 30, 0)

# --- —Å—á–∏—Ç–∞–µ–º –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π ---
all_users = users_filter['user'].nunique()

# --- retention –ø–æ —Ä–∞–∑–Ω—ã–º –ø–µ—Ä–∏–æ–¥–∞–º ---
users_filter['N_DAY_retention']   = users_filter.groupby('diff')['user'].transform('nunique') / all_users * 100
users_filter['N_WEEK_retention']  = users_filter.groupby('week')['user'].transform('nunique') / all_users * 100
users_filter['N_MONTH_retention'] = users_filter.groupby('month')['user'].transform('nunique') / all_users * 100


# üîπüîπüîπ –£–Ω–∏–≤–µ—Ä—Å–∞–ª—å–Ω–∞—è –ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è –¥–ª—è –ø–µ—Ä–µ–∫–ª—é—á–µ–Ω–∏—è –ø–µ—Ä–∏–æ–¥–∞ üîπüîπüîπ
period = 'month'     # –≤–∞—Ä–∏–∞–Ω—Ç—ã: 'day', 'week', 'month'


# --- –≤—ã–±–∏—Ä–∞–µ–º –∫–æ–ª–æ–Ω–∫—É –∏ –ø–æ–¥–ø–∏—Å–∏ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –ø–µ—Ä–∏–æ–¥–∞ ---
if period == 'day':
    idx_col = 'diff'
    period_name = 'Day'
elif period == 'week':
    idx_col = 'week'
    period_name = 'Week'
elif period == 'month':
    idx_col = 'month'
    period_name = 'Month'
else:
    raise ValueError("period must be 'day', 'week', or 'month'")


# --- —Å–æ–∑–¥–∞–µ–º —É–Ω–∏–≤–µ—Ä—Å–∞–ª—å–Ω—ã–π pivot ---
pivot = (
    users_filter
    .groupby(idx_col, as_index=False)['user']
    .nunique()
    .rename(columns={'user': 'unique_users'})
)

pivot['retention'] = pivot['unique_users'] / all_users * 100
pivot['period'] = period_name  # –¥–æ–±–∞–≤–ª—è–µ–º —Å—Ç–æ–ª–±–µ—Ü –¥–ª—è –ø–æ–Ω—è—Ç–Ω–æ–≥–æ –≤—ã–≤–æ–¥–∞

# --- —Å–æ–∑–¥–∞–µ–º –ø–æ–ª–Ω—ã–π –¥–∏–∞–ø–∞–∑–æ–Ω –∏–Ω–¥–µ–∫—Å–æ–≤ ---
full_range = pd.DataFrame({idx_col: range(int(pivot[idx_col].min()), int(pivot[idx_col].max()) + 1)})
pivot_full = full_range.merge(pivot, on=idx_col, how='left')

# --- –≤—ã–≤–æ–¥ ---
print(f"Retention by {period_name}")
display(pivot_full.head(10))
print(pivot_full['retention'].sum() / 100)

Retention by Month

   month  unique_users  retention period
0      0          2000     100.00  Month
1      1          1850      92.50  Month
2      2          1777      88.85  Month
3      3          1667      83.35  Month
4      4          1505      75.25  Month
5      5          1248      62.40  Month
6      6          1053      52.65  Month
7      7           757      37.85  Month
8      8           605      30.25  Month
9      9           385      19.25  Month

6.690500000000001

In [ ]:
users_filter

In [ ]:
# users_filter['month'] = round(users_filter['diff'] / 30, 0)
# users_filter['week'] = round(users_filter['diff'] / 7, 0)
users_filter

In [ ]:
print(f'count of month: {users_filter['month'].sum() / 100}')
print(f'count of week: {users_filter['week'].sum() / 100}')

In [ ]:
# count users paying
cpu = users_filter.query('diff >= 14')['user'].nunique()
print(f'–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ª—é–¥–µ–π –∫—É–ø–∏–≤—à–∏—Ö –ø–æ–¥–ø–∏—Å–∫—É : {cpu}')
print()
price_all_users = all_users * 500
net_profit = cpu * 990 - price_all_users
print(f'—Å—Ç–æ–∏–º–æ—Å—Ç—å –ø—Ä–∏–≤–ª–µ—á–µ–Ω–∏—è –∑–∞ –≤—Å–µ—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π {price_all_users}')
print()
print(f'–≤—ã—Ä—É—á–∫–∞ –∑–∞ –≤—Å–µ –ø—Ä–æ–¥–∞–Ω–Ω—ã–µ –ø–æ–¥–ø–∏—Å–∫–∏: {cpu * 990}')
print()
print(f'—á–∏—Å—Ç–∞—è –ø—Ä–∏–±—ã–ª—å —Å —É—á–µ—Ç–æ–º –∑–∞—Ç—Ä–∞—Ç–æ–≤: {net_profit}')

In [ ]:
(full_range / users_filter['user'].nunique())['diff'].sum() / 30

In [ ]:
pivot_full['retention'].sum() / 100

In [ ]:
uniq_users = users_filter.query('14 <= diff <= 16')['user'].nunique()
print(f'–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π: {uniq_users}')
print(f'–≤—ã—Ä—É—á–∫–∞: {uniq_users * 990}')

In [ ]:
pivot_full.query('diff >= 14').sort_values('retention', ascending=False)

In [ ]:
users_filter.query('diff >= 14')['user'].nunique() - 500

In [ ]:
pivot_full.query('diff >= 14')