## –¢–µ–ø–µ—Ä—å –æ –º–æ–Ω–µ—Ç–∏–∑–∞—Ü–∏–∏ - Sleepy —Ä–∞–±–æ—Ç–∞–µ—Ç –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ: 990 —Ä—É–±–ª–µ–π –≤ –º–µ—Å—è—Ü. –ü–µ—Ä–≤—ã–µ –¥–≤–µ –Ω–µ–¥–µ–ª–∏ –±–µ—Å–ø–ª–∞—Ç–Ω–æ, –∑–∞—Ç–µ–º –∫–ª–∏–µ–Ω—Ç –≤–∏–¥–∏—Ç –ø–µ–π–≤–æ–ª (–æ—Ç ¬´pay wall¬ª - –∫–∞–∫ –±—ã —Å—Ç–µ–Ω–∞, –∫–æ—Ç–æ—Ä–∞—è —Ç–µ–±—è –Ω–µ –ø—É—Å–∫–∞–µ—Ç –¥–∞–ª—å—à–µ, –ø–æ–∫–∞ —Ç—ã –Ω–µ –æ–ø–ª–∞—Ç–∏—à—å) –∏, –µ—Å–ª–∏ –ø—Ä–∏–≤—è–∑—ã–≤–∞–µ—Ç –∫–∞—Ä—Ç—É, –ø—Ä–æ–¥–æ–ª–∂–∞–µ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è –ø–æ–¥–ø–∏—Å–∫–æ–π, –∞ –¥–µ–Ω—å–≥–∏ —Å–ø–∏—Å—ã–≤–∞—é—Ç—Å—è –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏.

## –ï—Å–ª–∏ –≥–æ–≤–æ—Ä–∏—Ç—å –æ –ø—Ä–∏–≤–ª–µ—á–µ–Ω–∏–∏, —Ç–æ —ç—Ç–æ –º–æ–ª–æ–¥–æ–π –≤–µ–Ω—á—É—Ä–Ω—ã–π —Å—Ç–∞—Ä—Ç–∞–ø, –ø–æ—ç—Ç–æ–º—É –ø—Ä–∏–≤–ª–µ—á–µ–Ω–∏–µ –æ–¥–Ω–æ–≥–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è (–¥–∞–∂–µ –µ—Å–ª–∏ –æ–Ω –Ω–µ –∑–∞–ø–ª–∞—Ç–∏—Ç) –¥–æ–≤–æ–ª—å–Ω–æ –¥–æ—Ä–æ–≥–æ–µ - 500 —Ä—É–±–ª–µ–π.

## –î–∞–Ω–Ω—ã—Ö —É –≤–∞—Å –Ω–µ–º–Ω–æ–≥–æ - –≤–∞–º –¥–∞–Ω –¥–∞—Ç–∞—Å–µ—Ç –≤—Å–µ–≥–æ –∏–∑ –¥–≤—É—Ö –ø–æ–ª–µ–π:


## user - –Ω–æ–º–µ—Ä –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è –≤ —Å–∏—Å—Ç–µ–º–µ

## dt - –¥–∞—Ç–∞ –µ–≥–æ –∑–∞—Ö–æ–¥–∞ –≤ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏–µ

## –î–∞–Ω–Ω—ã–µ —É—Å—Ç—Ä–æ–µ–Ω—ã —Ç–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º, —á—Ç–æ —Ñ–∏–∫—Å–∏—Ä—É–µ—Ç—Å—è —Ç–æ–ª—å–∫–æ –æ–¥–∏–Ω –∑–∞—Ö–æ–¥ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è –∑–∞ –¥–µ–Ω—å - –æ–¥–∏–Ω–∞–∫–æ–≤—ã—Ö –ø–∞—Ä "–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å - –¥–∞—Ç–∞" –±—ã—Ç—å –Ω–µ –º–æ–∂–µ—Ç. 
## –ö—Ä–æ–º–µ —Ç–æ–≥–æ, —Ñ–∏–∫—Å–∏—Ä—É—é—Ç—Å—è —Ç–æ–ª—å–∫–æ –∑–∞—Ö–æ–¥—ã –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –Ω–∞ —Ç—Ä–∏–∞–ª—å–Ω–æ–π –≤–µ—Ä—Å–∏–∏ –∏ —Ç–µ—Ö, –∫—Ç–æ –ø—Ä–æ—à–µ–ª –ø–µ–π–≤–æ–ª. 
## –ï—Å–ª–∏ —á–µ–ª–æ–≤–µ–∫ –æ—Ç–∫—Ä—ã–ª –ø—Ä–∏–ª–æ–∂–µ–Ω–∏–µ –ø–æ—Å–ª–µ 14 –¥–Ω—è –∏ –Ω–µ –ø—Ä–∏–≤—è–∑–∞–ª –∫–∞—Ä—Ç—É - —Ç–∞–∫–æ–π –∑–∞—Ö–æ–¥ –Ω–µ —Ñ–∏–∫—Å–∏—Ä—É–µ—Ç—Å—è.

In [1]:
import pandas as pd
import math
import matplotlib.pyplot as plt

In [2]:
# n day retention


# WIN
users_sleepy = pd.read_csv(r'C:\Users\Incognitus\Downloads\entries.csv', sep=';') 
# MAC
# users_sleepy = pd.read_csv(r'/Users/vladislavlipkin/Downloads/entries.csv', sep=';')

In [3]:
users_sleepy.head(5)

   user          dt  Unnamed: 2
0     0  12.11.2023         NaN
1     0  13.11.2023         NaN
2     0  14.11.2023         NaN
3     0  16.11.2023         NaN
4     0  17.11.2023         NaN

In [4]:
# --- –ø–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö ---
users_filter = users_sleepy.loc[:, ['user', 'dt']]
users_filter['dt'] = pd.to_datetime(users_filter['dt'], format='%d.%m.%Y')
users_filter['month_start'] = users_filter['dt'].dt.to_period('M').dt.to_timestamp()
users_filter['dt_reg'] = users_filter.groupby('user')['dt'].transform('min')
users_filter['diff'] = (users_filter['dt'] - users_filter['dt_reg']).dt.days
users_filter['week'] = round(users_filter['diff'] / 7, 0)
users_filter['month'] = round(users_filter['diff'] / 30, 0)


# --- —Å—á–∏—Ç–∞–µ–º –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π ---
all_users = users_filter['user'].nunique()

# --- retention –ø–æ —Ä–∞–∑–Ω—ã–º –ø–µ—Ä–∏–æ–¥–∞–º ---
users_filter['N_DAY_retention']   = users_filter.groupby('diff')['user'].transform('nunique') / all_users * 100
users_filter['N_WEEK_retention']  = users_filter.groupby('week')['user'].transform('nunique') / all_users * 100
users_filter['N_MONTH_retention'] = users_filter.groupby('month')['user'].transform('nunique') / all_users * 100


# üîπüîπüîπ –£–Ω–∏–≤–µ—Ä—Å–∞–ª—å–Ω–∞—è –ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è –¥–ª—è –ø–µ—Ä–µ–∫–ª—é—á–µ–Ω–∏—è –ø–µ—Ä–∏–æ–¥–∞ üîπüîπüîπ
period = 'day'     # –≤–∞—Ä–∏–∞–Ω—Ç—ã: 'day', 'week', 'month'


# --- –≤—ã–±–∏—Ä–∞–µ–º –∫–æ–ª–æ–Ω–∫—É –∏ –ø–æ–¥–ø–∏—Å–∏ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –ø–µ—Ä–∏–æ–¥–∞ ---
if period == 'day':
    idx_col = 'diff'
    period_name = 'Day'
elif period == 'week':
    idx_col = 'week'
    period_name = 'Week'
elif period == 'month':
    idx_col = 'month'
    period_name = 'Month'
else:
    raise ValueError("period must be 'day', 'week', or 'month'")


# --- —Å–æ–∑–¥–∞–µ–º —É–Ω–∏–≤–µ—Ä—Å–∞–ª—å–Ω—ã–π pivot ---
pivot = (
    users_filter
    .groupby(idx_col, as_index=False)['user']
    .nunique()
    .rename(columns={'user': 'unique_users'})
)

pivot['retention'] = pivot['unique_users'] / all_users * 100
pivot['period'] = period_name  # –¥–æ–±–∞–≤–ª—è–µ–º —Å—Ç–æ–ª–±–µ—Ü –¥–ª—è –ø–æ–Ω—è—Ç–Ω–æ–≥–æ –≤—ã–≤–æ–¥–∞

# --- —Å–æ–∑–¥–∞–µ–º –ø–æ–ª–Ω—ã–π –¥–∏–∞–ø–∞–∑–æ–Ω –∏–Ω–¥–µ–∫—Å–æ–≤ ---
full_range = pd.DataFrame({idx_col: range(int(pivot[idx_col].min()), int(pivot[idx_col].max()) + 1)})
pivot_full = full_range.merge(pivot, on=idx_col, how='left')

# --- –≤—ã–≤–æ–¥ ---
print(f"Retention by {period_name}")
display(pivot_full.head(20))
print(pivot_full['retention'].sum() / 100)

Retention by Day

    diff  unique_users  retention period
0      0        2000.0     100.00    Day
1      1        1039.0      51.95    Day
2      2        1052.0      52.60    Day
3      3        1055.0      52.75    Day
4      4        1024.0      51.20    Day
5      5         968.0      48.40    Day
6      6         984.0      49.20    Day
7      7         927.0      46.35    Day
8      8         954.0      47.70    Day
9      9         958.0      47.90    Day
10    10         941.0      47.05    Day
11    11         897.0      44.85    Day
12    12         860.0      43.00    Day
13    13         860.0      43.00    Day
14    14         500.0      25.00    Day
15    15         484.0      24.20    Day
16    16         518.0      25.90    Day
17    17         465.0      23.25    Day
18    18         478.0      23.90    Day
19    19         448.0      22.40    Day

26.162500000000005

In [5]:
# 25 minutes
users_filter.sort_values(by='dt', ascending=True).head(20)

,user,dt,month_start,dt_reg,diff,week,month,N_DAY_retention,N_WEEK_retention,N_MONTH_retention
24607,940,2023-02-18,2023-02-01,2023-02-18,0,0.0,0.0,100.00,100.0,100.0
32045,1224,2023-02-18,2023-02-01,2023-02-18,0,0.0,0.0,100.00,100.0,100.0
37567,1438,2023-02-18,2023-02-01,2023-02-18,0,0.0,0.0,100.00,100.0,100.0
51147,1960,2023-02-18,2023-02-01,2023-02-18,0,0.0,0.0,100.00,100.0,100.0
19446,740,2023-02-19,2023-02-01,2023-02-19,0,0.0,0.0,100.00,100.0,100.0
14570,553,2023-02-19,2023-02-01,2023-02-19,0,0.0,0.0,100.00,100.0,100.0
50719,1941,2023-02-19,2023-02-01,2023-02-19,0,0.0,0.0,100.00,100.0,100.0
17388,659,2023-02-19,2023-02-01,2023-02-19,0,0.0,0.0,100.00,100.0,100.0
51148,1960,2023-02-19,2023-02-01,2023-02-18,1,0.0,0.0,51.95,100.0,100.0
32046,1224,2023-02-19,2023-02-01,2023-02-18,1,0.0,0.0,51.95,100.0,100.0
376,14,2023-02-19,2023-02-01,2023-02-19,0,0.0,0.0,100.00,100.0,100.0
38388,1467,2023-02-19,2023-02-01,2023-02-19,0,0.0,0.0,100.00,100.0,100.0
16791,637,2023-02-20,2023-02-01,2023-02-20,0,0.0,0.0,100.00,100.0,100.0
50720,1941,2023-02-20,2023-02-01,2023-02-19,1,0.0,0.0,51.95,100.0,100.0
377,14,2023-02-20,2023-02-01,2023-02-19,1,0.0,0.0,51.95,100.0,100.0
28951,1105,2023-02-20,2023-02-01,2023-02-20,0,0.0,0.0,100.00,100.0,100.0
45778,1758,2023-02-20,2023-02-01,2023-02-20,0,0.0,0.0,100.00,100.0,100.0
41427,1592,2023-02-20,2023-02-01,2023-02-20,0,0.0,0.0,100.00,100.0,100.0
49215,1881,2023-02-20,2023-02-01,2023-02-20,0,0.0,0.0,100.00,100.0,100.0
32047,1224,2023-02-20,2023-02-01,2023-02-18,2,0.0,0.0,52.60,100.0,100.0

In [6]:
# —Å—Ä–µ–¥–Ω–µ–µ MAU –∑–∞ –≤–µ—Å—å –ø–µ—Ä–∏–æ–¥
user_in_month = users_filter.groupby('month_start')['user'].nunique().reset_index(name='unique_users')
average_mau = user_in_month['unique_users'].mean()
average_mau

458.9655172413793

In [8]:
# —Å—Ä–µ–¥–Ω–µ–µ DAU –∑–∞ –≤–µ—Å—å –ø–µ—Ä–∏–æ–¥

# --- —Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –ø–æ –∫–∞–∂–¥–æ–π –¥–∞—Ç–µ ---
user_in_day = (
    users_filter.groupby('dt')['user']
    .nunique()
    .reset_index(name='unique_users')
)
# --- —Å–æ–∑–¥–∞–µ–º –ø–æ–ª–Ω—ã–π —Å–ø–∏—Å–æ–∫ –¥–∞—Ç ---

full_dates = pd.DataFrame({
    'dt': pd.date_range(users_filter['dt'].min(), users_filter['dt'].max())
})
# --- –¥–æ–±–∞–≤–ª—è–µ–º –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –¥–∞—Ç—ã ---
user_in_day_full = (
    full_dates
    .merge(user_in_day, on='dt', how='left')
    .fillna({'unique_users': 0})  # —Å—Ç–∞–≤–∏–º 0, –µ—Å–ª–∏ –≤ —ç—Ç–æ—Ç –¥–µ–Ω—å –Ω–µ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π
)
# --- —Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–µ–µ DAU ---
average_dau = user_in_day_full['unique_users'].mean()
average_dau

60.984848484848484

In [9]:
# Sticky_factor
print(f'average_DAU: {round(average_dau, 1)}')
print(f'average_MAU: {round(average_mau, 1)}')
print()
print(f'Sticky_factor: {average_dau / average_mau * 100}')

average_DAU: 61.0
average_MAU: 459.0

Sticky_factor: 13.287457596247979

In [ ]:

fig, ax1 = plt.subplots(figsize=(9, 5))

# --- –ü–µ—Ä–≤–∞—è –æ—Å—å: Retention ---
color = 'tab:blue'
ax1.set_xlabel(f'{period_name} after registration')
ax1.set_ylabel('Retention, %', color=color)
ax1.plot(pivot_full[idx_col], pivot_full['retention'], color=color, marker='o', linewidth=2, label='Retention %')
ax1.tick_params(axis='y', labelcolor=color)
ax1.grid(True, which='major', axis='both', linestyle='--', alpha=0.5)

# --- –í—Ç–æ—Ä–∞—è –æ—Å—å: –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π ---
ax2 = ax1.twinx()  # —Å–æ–∑–¥–∞—ë–º –≤—Ç–æ—Ä—É—é –æ—Å—å Y
color = 'tab:orange'
ax2.set_ylabel('Unique users', color=color)
ax2.bar(pivot_full[idx_col], pivot_full['unique_users'], color=color, alpha=0.3, label='Unique users')
ax2.tick_params(axis='y', labelcolor=color)

# --- –ó–∞–≥–æ–ª–æ–≤–æ–∫ –∏ –æ—Ñ–æ—Ä–º–ª–µ–Ω–∏–µ ---
plt.title(f'Retention and Unique Users by {period_name}')
fig.tight_layout()
plt.show()

In [ ]:
6 * 990

In [ ]:
users_filter

In [ ]:
# users_filter['month'] = round(users_filter['diff'] / 30, 0)
# users_filter['week'] = round(users_filter['diff'] / 7, 0)
users_filter

In [ ]:
print(f'count of month: {users_filter['month'].sum() / 100}')
print(f'count of week: {users_filter['week'].sum() / 100}')

In [ ]:
# count users paying
cpu = users_filter.query('diff >= 14')['user'].nunique()
print(f'–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ª—é–¥–µ–π –∫—É–ø–∏–≤—à–∏—Ö –ø–æ–¥–ø–∏—Å–∫—É : {cpu}')
print()
price_all_users = all_users * 500
net_profit = cpu * 990 - price_all_users
print(f'—Å—Ç–æ–∏–º–æ—Å—Ç—å –ø—Ä–∏–≤–ª–µ—á–µ–Ω–∏—è –∑–∞ –≤—Å–µ—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π {price_all_users}')
print()
print(f'–≤—ã—Ä—É—á–∫–∞ –∑–∞ –≤—Å–µ –ø—Ä–æ–¥–∞–Ω–Ω—ã–µ –ø–æ–¥–ø–∏—Å–∫–∏: {cpu * 990}')
print()
print(f'—á–∏—Å—Ç–∞—è –ø—Ä–∏–±—ã–ª—å —Å —É—á–µ—Ç–æ–º –∑–∞—Ç—Ä–∞—Ç–æ–≤: {net_profit}')

In [ ]:
(full_range / users_filter['user'].nunique())['diff'].sum() / 30

In [ ]:
pivot_full['retention'].sum() / 100

In [ ]:
uniq_users = users_filter.query('14 <= diff <= 16')['user'].nunique()
print(f'–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π: {uniq_users}')
print(f'–≤—ã—Ä—É—á–∫–∞: {uniq_users * 990}')

In [ ]:
pivot_full.query('diff >= 14').sort_values('retention', ascending=False)

In [ ]:
users_filter.query('diff >= 14')['user'].nunique() - 500

In [ ]:
pivot_full.query('diff >= 14')