In [1]:
import pandas as pd
import math

# Поднять инвестиции в Salesify: описание кейса

Ваш продукт представлен в 3 тарифах:

- базовый (только аналитика)
- продвинутый (аналитика + автозаказ)
- премиальный (аналитика + автозаказ + управление рекламой)

Цены тарифов:

- базовый - 30 000 рублей в месяц
- продвинутый - 50 000 рублей в месяц
- премиальный - 100 000 рублей в месяц

Естественно, тарифы покупают неравномерно. За последний год структура продаж следующая (тарифы и цены не менялись):

- базовый - 55%
- продвинутый - 30%
- премиальный - 15%

Вводные данные

1. - За последний месяц вы привлекли 314 заявок на проведение консультации с сайта
2. - На прямую рекламу на сайт потратили 4761182 рублей за тот же период
3. - Конверсия сайта - 2.5%
4. - При росте количества заявок стоимость заявки растет примерно на 15% после каждой тысячи заявок в месяц (этими цифрами поделились фаундеры других аналогичных проектов)
5. - По внутренней статистике - на каждые 100 заявок примерно 25 недозвонов или нецелевых заявок
6. - Из оставшихся 75 заявок примерно 20% в итоге вносят первую оплату в течение 5 недель
7. - За успешную продажу менеджер получает премию в размере 10% от выручки с вычетом налога (6% от выручки)
8. - Вне зависимости от срока жизни конкретного клиента, мы всегда проводим первичную интеграцию, которая бесплатна для клиента, но стоит в себестоимости 10000 рублей для компании
9. - Из дальнейших расходов - только выделенный сервер для клиента (ежемесячный расход, включая первый месяц). Вне зависимости от тарифа его стоимость - 2000 рублей в месяц.
10. - В среднем клиент пользуется сервисом 1.5 года

1. За последний месяц вы привлекли 314 заявок на проведение консультации с сайта

2. На прямую рекламу на сайт потратили 4761182 рублей за тот же период

3. Конверсия сайта - 2.5%

4. При росте количества заявок стоимость заявки растет примерно на 15% после каждой тысячи заявок в месяц (этими цифрами поделились фаундеры других аналогичных проектов)

5. По внутренней статистике - на каждые 100 заявок примерно 25 недозвонов или нецелевых заявок

6. Из оставшихся 75 заявок примерно 20% в итоге вносят первую оплату в течение 5 недель

7. За успешную продажу менеджер получает премию в размере 10% от выручки с вычетом налога (6% от выручки)

8.  Вне зависимости от срока жизни конкретного клиента, мы всегда проводим первичную интеграцию, которая бесплатна для клиента, но стоит в себестоимости 10000 рублей для компании

9.  Из дальнейших расходов - только выделенный сервер для клиента (ежемесячный расход, включая первый месяц). Вне зависимости от тарифа его стоимость - 2000 рублей в месяц.

10. В среднем клиент пользуется сервисом 1.5 года

2. 
10. LT = 1.5 года

In [26]:
spent = 4761182
reach  = 314 * 100 / 2.5
total_leads = 314
invalid_rate = 0.25
valid_leads = total_leads * (1 - invalid_rate)


# Финансовые показатели 
LT = 18

print(f'spent: {spent}')
print(f'reach: {impression}')
print(f'Leads: {total_leads}')
print(f'v_Leads: {valid_leads}')
# print(f'CPM: {CPM}')
print(round(valid_leads))

spent: 4761182
reach: 12560.0
Leads: 314
v_Leads: 235.5
CPM: 379.075
236

конверсия сайта 2.5 процента

In [17]:
count_users_for_month = 314 * 100 / 2.5 # всего пользователей за месяц.
count_users_for_month

12560.0

In [11]:
# доход за месяц 
base_sum = 12560 * 0.55 * 30000
pro_sum = 12560 * 0.30 * 50000
premium_sum = 12560 * 0.15 * 100000
print(f'base: {base_sum}')
print(f'pro: {pro_sum}')
print(f'premium: {premium_sum}')
print(f'sum all tarifes: {base_sum + pro_sum + premium_sum}')
print(len(str(base_sum + pro_sum + premium_sum)))

base: 207240000.00000003
pro: 188400000.0
premium: 188400000.0
sum all tarifes: 584040000.0
11

## Теперь о монетизации - Sleepy работает по подписке: 990 рублей в месяц. Первые две недели бесплатно, затем клиент видит пейвол (от «pay wall» - как бы стена, которая тебя не пускает дальше, пока ты не оплатишь) и, если привязывает карту, продолжает пользоваться подпиской, а деньги списываются автоматически.

## Если говорить о привлечении, то это молодой венчурный стартап, поэтому привлечение одного пользователя (даже если он не заплатит) довольно дорогое - 500 рублей.

## Данных у вас немного - вам дан датасет всего из двух полей:


## user - номер пользователя в системе

## dt - дата его захода в приложение

## Данные устроены таким образом, что фиксируется только один заход пользователя за день - одинаковых пар "пользователь - дата" быть не может. 
## Кроме того, фиксируются только заходы пользователей на триальной версии и тех, кто прошел пейвол. 
## Если человек открыл приложение после 14 дня и не привязал карту - такой заход не фиксируется.

In [4]:
# n day retention


# WIN
users_sleepy = pd.read_csv(r'C:\Users\Incognitus\Downloads\entries.csv', sep=';') 
# MAC
# users_sleepy = pd.read_csv(r'/Users/vladislavlipkin/Downloads/entries.csv', sep=';')

In [5]:
users_sleepy.head(5)

   user          dt  Unnamed: 2
0     0  12.11.2023         NaN
1     0  13.11.2023         NaN
2     0  14.11.2023         NaN
3     0  16.11.2023         NaN
4     0  17.11.2023         NaN

In [6]:
# --- подготовка данных ---
users_filter = users_sleepy.loc[:, ['user', 'dt']]
users_filter['dt'] = pd.to_datetime(users_filter['dt'], format='%d.%m.%Y')
users_filter['month_start'] = users_filter['dt'].dt.to_period('M').dt.to_timestamp()
users_filter['dt_reg'] = users_filter.groupby('user')['dt'].transform('min')
users_filter['diff'] = (users_filter['dt'] - users_filter['dt_reg']).dt.days
users_filter['week'] = round(users_filter['diff'] / 7, 0)
users_filter['month'] = round(users_filter['diff'] / 30, 0)


# --- считаем общее количество пользователей ---
all_users = users_filter['user'].nunique()

# --- retention по разным периодам ---
users_filter['N_DAY_retention']   = users_filter.groupby('diff')['user'].transform('nunique') / all_users * 100
users_filter['N_WEEK_retention']  = users_filter.groupby('week')['user'].transform('nunique') / all_users * 100
users_filter['N_MONTH_retention'] = users_filter.groupby('month')['user'].transform('nunique') / all_users * 100


# 🔹🔹🔹 Универсальная переменная для переключения периода 🔹🔹🔹
period = 'week'     # варианты: 'day', 'week', 'month'


# --- выбираем колонку и подписи в зависимости от периода ---
if period == 'day':
    idx_col = 'diff'
    period_name = 'Day'
elif period == 'week':
    idx_col = 'week'
    period_name = 'Week'
elif period == 'month':
    idx_col = 'month'
    period_name = 'Month'
else:
    raise ValueError("period must be 'day', 'week', or 'month'")


# --- создаем универсальный pivot ---
pivot = (
    users_filter
    .groupby(idx_col, as_index=False)['user']
    .nunique()
    .rename(columns={'user': 'unique_users'})
)

pivot['retention'] = pivot['unique_users'] / all_users * 100
pivot['period'] = period_name  # добавляем столбец для понятного вывода

# --- создаем полный диапазон индексов ---
full_range = pd.DataFrame({idx_col: range(int(pivot[idx_col].min()), int(pivot[idx_col].max()) + 1)})
pivot_full = full_range.merge(pivot, on=idx_col, how='left')

# --- вывод ---
print(f"Retention by {period_name}")
display(pivot_full.head(30))
print(f'retention: {pivot_full['retention'].sum() / 100}')

Retention by Week

    week  unique_users  retention period
0      0          2000     100.00   Week
1      1          1812      90.60   Week
2      2          1660      83.00   Week
3      3          1476      73.80   Week
4      4          1395      69.75   Week
5      5          1344      67.20   Week
6      6          1339      66.95   Week
7      7          1264      63.20   Week
8      8          1205      60.25   Week
9      9          1143      57.15   Week
10    10          1078      53.90   Week
11    11          1026      51.30   Week
12    12           943      47.15   Week
13    13           928      46.40   Week
14    14           854      42.70   Week
15    15           797      39.85   Week
16    16           751      37.55   Week
17    17           715      35.75   Week
18    18           652      32.60   Week
19    19           588      29.40   Week
20    20           557      27.85   Week
21    21           468      23.40   Week
22    22           482      24.10   Week
23    23           473      23.65   Week
24    24           399      19.95   Week
25    25           351      17.55   Week
26    26           347      17.35   Week
27    27           307      15.35   Week
28    28           265      13.25   Week
29    29           252      12.60   Week

retention: 14.5975

In [7]:
users_filter.groupby('diff')['user'].nunique().query('14 < diff < 15')
# pivot_full.query('13 < diff < 16')['unique_users'].nunique

AttributeError: 'Series' object has no attribute 'query'

In [ ]:
# 25 minutes
users_filter.sort_values(by='dt', ascending=True).head(20)

In [ ]:
# среднее MAU за весь период
user_in_month = users_filter.groupby('month_start')['user'].nunique().reset_index(name='unique_users')
average_mau = user_in_month['unique_users'].mean()
average_mau

In [ ]:
# среднее DAU за весь период

# --- считаем количество уникальных пользователей по каждой дате ---
user_in_day = (
    users_filter.groupby('dt')['user']
    .nunique()
    .reset_index(name='unique_users')
)
# --- создаем полный список дат ---

full_dates = pd.DataFrame({
    'dt': pd.date_range(users_filter['dt'].min(), users_filter['dt'].max())
})
# --- добавляем пропущенные даты ---
user_in_day_full = (
    full_dates
    .merge(user_in_day, on='dt', how='left')
    .fillna({'unique_users': 0})  # ставим 0, если в этот день нет пользователей
)
# --- считаем среднее DAU ---
average_dau = user_in_day_full['unique_users'].mean()
average_dau

In [ ]:
# Sticky_factor
print(f'average_DAU: {round(average_dau, 1)}')
print(f'average_MAU: {round(average_mau, 1)}')
print()
print(f'Sticky_factor: {average_dau / average_mau * 100}')

In [ ]:
# Во сколько раз LT методом усреднения разницы между 
# максимальным и минимальным заходом каждого пользователя 
# больше LT методом классического n-day retention (считаем в днях). 26
# Ответ округлите в меньшую сторону.

In [ ]:
n_day_retention = pivot_full['retention'].sum() / 100
print(f'retention: {n_day_retention}')

In [ ]:
# --- рассчитываем LT (Lifetime) ---
lt_per_user = (
    users_filter.groupby('user')['dt']
    .agg(['min', 'max'])              # находим первую и последнюю дату активности
    .assign(lifetime=lambda x: (x['max'] - x['min']).dt.days)  # разница в днях
)

# среднее "время жизни" пользователя
LT = lt_per_user['lifetime'].mean()

print(f"Средний LT (lifetime): {LT:.2f} дней")

In [ ]:
LT / n_day_retention

In [ ]:
# Посчитайте MAU каждого месяца на основании календарных месяцев. 
# В какой месяц была самая высокая пользовательская активность? 
# Ответ дайте в формате YYYY-MM, например, 2024-07.

In [ ]:
# --- считаем уникальных пользователей по месяцам ---
pivot = (
    users_filter
    .groupby('month_start', as_index=False)['user']
    .nunique()
    .rename(columns={'user': 'unique_users'})
)

# --- считаем retention ---
pivot['retention'] = pivot['unique_users'] / all_users * 100
pivot['period'] = 'Month'  # или period_name, если он у тебя есть выше

# --- добавляем колонку YYYY-MM ---
pivot['year_month'] = pivot['month_start'].dt.strftime('%Y-%m')

# --- создаем полный диапазон месяцев ---
full_range = pd.DataFrame({
    'month_start': pd.date_range(
        users_filter['month_start'].min(),
        users_filter['month_start'].max(),
        freq='MS'  # начало каждого месяца
    )
})

# --- объединяем с pivot, чтобы добавить пропущенные месяцы ---
pivot_full = full_range.merge(pivot, on='month_start', how='left')

# --- финальный вывод ---
pivot_full.sort_values(by='unique_users', ascending=False).head(20)

In [ ]:
users_filter.head(10)

In [ ]:

fig, ax1 = plt.subplots(figsize=(9, 5))

# --- Первая ось: Retention ---
color = 'tab:blue'
ax1.set_xlabel(f'{period_name} after registration')
ax1.set_ylabel('Retention, %', color=color)
ax1.plot(pivot_full[idx_col], pivot_full['retention'], color=color, marker='o', linewidth=2, label='Retention %')
ax1.tick_params(axis='y', labelcolor=color)
ax1.grid(True, which='major', axis='both', linestyle='--', alpha=0.5)

# --- Вторая ось: количество уникальных пользователей ---
ax2 = ax1.twinx()  # создаём вторую ось Y
color = 'tab:orange'
ax2.set_ylabel('Unique users', color=color)
ax2.bar(pivot_full[idx_col], pivot_full['unique_users'], color=color, alpha=0.3, label='Unique users')
ax2.tick_params(axis='y', labelcolor=color)

# --- Заголовок и оформление ---
plt.title(f'Retention and Unique Users by {period_name}')
fig.tight_layout()
plt.show()

In [ ]:
6 * 990

In [ ]:
users_filter

In [ ]:
# users_filter['month'] = round(users_filter['diff'] / 30, 0)
# users_filter['week'] = round(users_filter['diff'] / 7, 0)
users_filter

In [ ]:
print(f'count of month: {users_filter['month'].sum() / 100}')
print(f'count of week: {users_filter['week'].sum() / 100}')

In [ ]:
# count users paying
cpu = users_filter.query('diff >= 14')['user'].nunique()
print(f'количество людей купивших подписку : {cpu}')
print()
price_all_users = all_users * 500
net_profit = cpu * 990 - price_all_users
print(f'стоимость привлечения за всех пользователей {price_all_users}')
print()
print(f'выручка за все проданные подписки: {cpu * 990}')
print()
print(f'чистая прибыль с учетом затратов: {net_profit}')
print(f'CPU: {users_filter.query(' 17 > diff >= 14')['user'].nunique()}')